@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    margin: 0;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #082b59;
    border-bottom: solid 7px #D98555 ;
  }
  
  .logo img {
    margin-top: 5pt;
    margin-left: 70pt;
    width: 200px; 
    height: auto; 
  }
  
  .nav-bar {
    display: flex;
    margin-top: 2em;
    margin-right: 3em;
    gap: 20pt;

  }
  
  .nav-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5pt
  }

 a {
    text-decoration: none;
  }
  
  .fa-lg {
    color: white;

  }

  h2 {
   font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15pt;
    line-height: 18pt;
    margin-bottom: 20px;
    color: #082B59;
  }
  
  h1 {
   font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13pt;
    color: white;
  }
  
  h3 {
   font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25pt;
    line-height: 17pt;
    color: #f58544;
  }
  
  h4 {
   font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13pt;
    line-height: 15pt;
    margin: 0;
    color:#082B59;
  }

  h5 {
    font-family: 'Poppins', sans-serif;
     font-weight: 400;
     font-size: 8pt;
     line-height: 10pt;
     color: #f58544;
   }
  
  .button {
    display: flex;
    flex-direction: column;
   margin-top: 20px;
   margin-bottom: 20px;
   align-items: center;
   text-align: center;
  background-color: white;
   width: 150px;
   padding: 10px;
   border-radius: 10px;
   border: solid 2px #f58544 
  }

  .button:hover {
    background-color: #f58544; /* Change background color on hover */
  color: white; /* Change text color on hover */
  opacity: 0.8;
   }
  
  .footer {
    margin-top: 0;
    align-items: center;
    text-align: center;
    background-color: #082B59;
    padding: 3px;
    border-top: solid 7px #D98555;
    padding-left: 30vw;
    padding-right: 30vw;
   }
 
  .all-products {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 8em;
    margin-right: 8em;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-direction: row;
    gap: 40px;
   }

   .product {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: solid 2px #f58544;
    border-radius: 20px;
    padding: 10px;

   }

   .image img {
    width: 25vw;
    height: auto;
    border-radius: 10px;
   }




  /* Add styles for the underline */
.underline {
    width: 0;
    height: 2px;
    background-color: #f58544;
    transition: width 0.3s; /* Add transition for smoother effect */
  }
  
  /* Style for active underline */
  .underline.active {
    width: 100%;
  }

  .image-container img {
    width: 100vw;
    height: auto;
  }

  .title {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  
  
