@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    margin: 0;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #082b59;
    border-bottom: solid 7px #D98555 ;
  }
  
  .logo img {
    margin-top: 5pt;
    margin-left: 70pt;
    width: 200px; 
    height: auto; 
  }
  
  .nav-bar {
    display: flex;
    margin-top: 2em;
    margin-right: 3em;
    gap: 20pt;

  }
  
  .nav-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5pt
  }

 a {
    text-decoration: none;
  }
  
  .fa-lg {
    color: white;
    line-height: 2em;
  }

  h2 {
   font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30pt;
    line-height: 32pt;
    margin-bottom: 20px;
    color: #f58544;
  }
  
  h1 {
   font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13pt;
    color: white;
  }
  
  h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13pt;
    line-height: 15pt;
    color: #ffffff;
    margin: 0;
  }

  h5 {
    font-family: 'Poppins', sans-serif;
     font-weight: 400;
     font-size: 8pt;
     line-height: 10pt;
     color: #f58544;
   }
  
  h4 {
   font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13pt;
    line-height: 15pt;
    margin: 0;
    color:#082B59;
  }
  
  
  .main-content {
   margin-left: 90pt;
   margin-right: 5em;
   display: flex;
   justify-content: space-between;
   gap: 150px; 
  }
  
  
  .button {
   margin-top: 20px;
   margin-bottom: 30px;
   align-items: center;
   text-align: center;
   width: 150px;
   padding: 10px;
   border-radius: 10px;
   border: solid 2px #f58544; 
  }

  .button:hover {
    background-color: #f58544; /* Change background color on hover */
  color: white; /* Change text color on hover */
  opacity: 0.8;
   }
  
  .footer {
   margin-top: 0;
   align-items: center;
   text-align: center;
   background-color: #082B59;
   padding: 3px;
   border-top: solid 7px #D98555;
   padding-left: 30vw;
   padding-right: 30vw;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    width: 40%;
    background-color: #082b59bc;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;

  }
  
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }

  .image2 img {
    display: block;
    height: auto;
    margin-bottom: 0;
    border-radius: 20px;

  }

  .image2  {
     border-radius: 20px;
     width: 50vw;

  }

  .image3 {
    width: 100vw;
    height: auto;
    margin-bottom: 0;
  }

  /* Add styles for the underline */
.underline {
    width: 0;
    height: 2px;
    background-color: #f58544;
    transition: width 0.3s; /* Add transition for smoother effect */
  }
  
  /* Style for active underline */
  .underline.active {
    width: 100%;
  }

  @media (max-width: 900px) {
    .header {
      flex-direction: column;
      align-items: center;
    }
    
    .logo img {
      margin-left: 0;
      width: 150px;
    }
  
    .nav-bar {
      margin-top: 1em;
      flex-direction: row;
      gap: 30pt;
      margin-right: 0;
    }
  
    .main-content {
      flex-direction: row;
      margin-left: 2em;
      margin-right: 2em;
      gap: 20px;
  
    }
  
    h2 {   
       font-size: 16pt;
       line-height: 18pt;
     }
     
     h1 {
       font-size: 8pt;
       line-height: 10pt;
     }
     
     h3 { 
       font-size: 8pt;
       line-height: 10pt;
     }
   
     h5 {
        font-size: 8pt;
        line-height: 10pt;
      }
     
     h4 {
       font-size: 8pt;
       line-height: 10pt;
     }
  
    .button {
      width: 130px; /* Adjust button size for smaller screens */
    }
  
    .image2 {
      width: 60vw; /* Adjust image width */
    }
  
    .image3 {
      width: 100vw;
    }
  
    .footer {
      padding-left: 5vw;
      padding-right: 5vw;
    }
  }
  
  @media (max-width: 480px) {
    .logo img {
      width: 100px; /* Further reduce logo size for very small screens */
    }
  
    .nav-bar {
      gap: 15pt;
    }
  
    h2 {   
      font-size: 12pt;
      line-height: 14pt;
    }
    
    h1 {
      font-size: 8pt;
      line-height: 10pt;
    }
    
    h3 { 
      font-size: 8pt;
      line-height: 10pt;
    }
  
    h5 {
       font-size: 8pt;
       line-height: 10pt;
     }
    
    h4 {
      font-size: 8pt;
      line-height: 10pt;
    }
  
     .button {
      margin-left: 1em;
      margin-right: 1em;
      width: auto; 
      margin-bottom: 10px;
      text-align: center;/* Adjust layouts and sizes to better fit very small screens */
    }

    .main-content {
      align-items: center;
      flex-direction: column;
      margin-left: 1em;
      margin-right: 1em;
      margin-top: 1em;
      width: auto; 
      margin-bottom: 10px;
      text-align: center;/* Adjust layouts and sizes to better fit very small screens */
    }
  

    .image2 {
      margin-left: 1em;
      margin-right: 1em; 
      width: 80vw;
      margin-bottom: 10px;
      text-align: center;/* Adjust layouts and sizes to better fit very small screens */
    }

    .image-container .overlay-text {
      left: 50%;
      width: 50%;
      text-align: center
    ; /* Adjust overlay text box for narrower screens */
    }
  }
  

  
  
  

  





